.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1.5em;

    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        margin: 1em;
        font-size: 2em;
        
        a {
            color: white;
            @include transitions(.5s);

            &:hover {
                @include transitions(.5s);
            }
        }
    }

    &__copy {
        a {
            @include transitions(.5s);

            &:hover {
                @include transitions(.5s);
            }
        }
    }
}