.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: $blue;
    padding: 1.5em;

    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        margin: 1em;
        font-size: 2em;
        
        a {
            color: white;

            &:hover {
                color: $malachite;
            }
        }
    }

    &__copy {
        a {

            &:hover {
                color: $malachite;
            }
        }
    }
}