.btn-container {
    margin-top: 1em;

    a.kofi-button {
        padding: 1em 1.75em !important;
        border-radius: 0.25em !important;
        font-family: 'Poppins', 'Helvetica neue', Helvetica, monospace !important;
        font-weight: $bold !important;
        font-size: 1em !important;
        @include transitions(.5s);

        &:hover {
            transform: scale(1.1);
            color: white !important;
            opacity: 1 !important;
            @include transitions(.5s);
        }
    }
}