/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .header {
        background-color: $blue;
        height: 100vh;

        &__nav {
            padding: 1.75em;
            position: fixed;
            width: 100%;
            background-color: rgba($blue, 0.75);
            z-index: 999;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;

            &__status {
                text-align: center;
                width: 25%;
            }
            
            &__nav-bar {
                width: 50%;
                display: flex;
                justify-content: space-between;
                margin: 0 auto 0 0;

                li {

                    a {
                        color: white;
                        font-weight: $thin;


                        &:hover {
                            font-weight: $semiBold;

                        }
                    }
                }
            }

            &__quote {
                text-align: right;
                width: 25%;
                font-size: 0.65em;
            }
        }

        &__name {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 50%;
            height: 100%;
            float: left;
            line-height: 2.5em;
        }

        &__about {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            float: right;
            padding: 0 3.25em 0 0;

            h3 {
                font-weight: $medium;
                text-transform: none;
            }
        }
    }

    .container {
        background-color: $dGray;
        padding: 3.75em;

        a {
            color: $blue;
            font-weight: $bold;
            text-decoration: solid underline $blue 0.25em;

            &:hover {
                color: $red;
                text-decoration: solid underline $red 0.25em;
            }
        }

        &__about {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
                "title title title title"
                "photo2 about about about"
                "dev dev dev photo1"
                "touch touch touch touch"
                "support support support support";
            gap: 1.5em;

            h2 {
                grid-area: title;
                margin-bottom: 1em;
            }

            h3, h4 {
                margin-bottom: 0.5em;
            }

            &__p {

                p {
                    text-align: justify;
                }

                &__lists{
                    display: flex;
                    justify-content: space-between;
                    margin: 1em 0;

                    &__list{
                        width: 30%;

                        &__tech {
                            list-style: square;
                            padding: 0.75em 3.5em;
                        }    
                    }

                } 
            }

            &__p:nth-child(2) {
                grid-area: about;

                h3 {
                    text-align: left;
                }
            }

            &__p:nth-child(3) {
                grid-area: dev;

                h3 {
                    text-align: right;
                }
            }

            .--lg {
                grid-area: photo1;
            }

            .--sm {
                grid-area: photo2;
            }

            &__touch {
                grid-area: touch;
                width: 75%;
                margin: auto;
                text-align: center;
            }

            &__support {
                grid-area: support;
                width: 75%;
                margin: auto;
                text-align: center;

                p {
                    margin-bottom: 1em;
                }

                .btn-container {
                    margin-top: 1em;

                    a.kofi-button {
                        padding: 1em 1.75em !important;
                        border-radius: 0.25em !important;
                        font-family: 'Poppins', 'Helvetica neue', Helvetica, monospace !important;
                        font-weight: $bold !important;
                        font-size: 18px !important;

                        &:hover {
                            transform: scale(1.1);
                            color: white !important;
                            opacity: 1 !important;
                        }
                    }
                }
            }
        }

        &__portfolio {
            padding: 3.75em 0 0 0;

            h2 {
                padding-bottom: 1em;
            }

            p {
                width: 75%;
                margin: 1.5em auto;
                text-align: center;
            }

            .projects {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;

                &__project {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    width: 75%;
                    height: 28em;
                    padding-top: 1.5em;

                    &__img {
                        margin-bottom: 1em;
                        width: calc(1425px * 0.25);
                        height: calc(975px * 0.25);
                        overflow: hidden;
                        position: relative;

                        &__screenshot {
                            position: relative;
                            transform: scale(0.25);
                            transform-origin: 0 0;
                            width: 1440px;
                            height: 900px;

                            &:after {
                                content: "";
                                display: block;
                                position: absolute;
                                top: 0;
                                right: 0;
                                left: 0;
                                bottom: 0;
                            }

                            iframe {
                                width: 1440px;
                                height: 900px;
                                display: block;
                            }
                        }
                    }

                    h4 {
                        font-weight: $medium;
                    }

                    p {
                        font-weight: $light;
                        text-align: center;
                        width: 100%;
                        height: 22%;
                    }

                    &__btn {
                        border: none;
                        padding: 1em;
                        border-radius: 0.25em;
                        background-color: $blue;
                        cursor: pointer;
                        font-weight: $black;
                        text-transform: uppercase;
                        color: white;

                        &:hover {
                            background-color: $red;
                        }
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: $blue;
        padding: 1.5em;

        &__social {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 25%;
            margin: 1em;
            font-size: 2em;
            
            a {
                color: white;

                &:hover {
                    color: $malachite;
                }
            }
        }

        &__copy {
            a {

                &:hover {
                    color: $malachite;
                }
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) and (max-width: 767px) {
    .header {
        background-color: $blue;
        height: 100vh;

        &__nav {
            padding: 1.75em;
            position: fixed;
            width: 100%;
            background-color: rgba($blue, 0.75);
            z-index: 999;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;

            &__status {
                text-align: center;
                width: 25%;
            }
            
            &__nav-bar {
                width: 50%;
                display: flex;
                justify-content: space-between;
                margin: 0 auto 0 0;

                li {

                    a {
                        color: white;
                        font-weight: $thin;


                        &:hover {
                            font-weight: $semiBold;

                        }
                    }
                }
            }

            &__quote {
                text-align: right;
                width: 25%;
                font-size: 0.65em;
            }
        }

        &__name {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 50%;
            height: 100%;
            float: left;
            line-height: 2.5em;
        }

        &__about {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            float: right;
            padding: 0 3.25em 0 0;

            h3 {
                font-weight: $medium;
                text-transform: none;
            }
        }
    }

    .container {
        background-color: $dGray;
        padding: 3.75em;

        a {
            color: $blue;
            font-weight: $bold;
            text-decoration: solid underline $blue 0.25em;

            &:hover {
                color: $red;
                text-decoration: solid underline $red 0.25em;
            }
        }

        &__about {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
                "title title title title"
                "photo2 about about about"
                "dev dev dev photo1"
                "touch touch touch touch"
                "support support support support";
            gap: 1.5em;

            h2 {
                grid-area: title;
                margin-bottom: 1em;
            }

            h3, h4 {
                margin-bottom: 0.5em;
            }

            &__p {

                p {
                    text-align: justify;
                }

                &__lists{
                    display: flex;
                    justify-content: space-between;
                    margin: 1em 0;

                    &__list{
                        width: 30%;

                        &__tech {
                            list-style: square;
                            padding: 0.75em 3.5em;
                        }    
                    }

                } 
            }

            &__p:nth-child(2) {
                grid-area: about;

                h3 {
                    text-align: left;
                }
            }

            &__p:nth-child(3) {
                grid-area: dev;

                h3 {
                    text-align: right;
                }
            }

            .--lg {
                grid-area: photo1;
            }

            .--sm {
                grid-area: photo2;
            }

            &__touch {
                grid-area: touch;
                width: 75%;
                margin: auto;
                text-align: center;
            }

            &__support {
                grid-area: support;
                width: 75%;
                margin: auto;
                text-align: center;

                p {
                    margin-bottom: 1em;
                }

                .btn-container {
                    margin-top: 1em;

                    a.kofi-button {
                        padding: 1em 1.75em !important;
                        border-radius: 0.25em !important;
                        font-family: 'Poppins', 'Helvetica neue', Helvetica, monospace !important;
                        font-weight: $bold !important;
                        font-size: 18px !important;

                        &:hover {
                            transform: scale(1.1);
                            color: white !important;
                            opacity: 1 !important;
                        }
                    }
                }
            }
        }

        &__portfolio {
            padding: 3.75em 0 0 0;

            h2 {
                padding-bottom: 1em;
            }

            p {
                width: 75%;
                margin: 1.5em auto;
                text-align: center;
            }

            .projects {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;

                &__project {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    width: 75%;
                    height: 28em;
                    padding-top: 1.5em;

                    &__img {
                        margin-bottom: 1em;
                        width: calc(1425px * 0.25);
                        height: calc(975px * 0.25);
                        overflow: hidden;
                        position: relative;

                        &__screenshot {
                            position: relative;
                            transform: scale(0.25);
                            transform-origin: 0 0;
                            width: 1440px;
                            height: 900px;

                            &:after {
                                content: "";
                                display: block;
                                position: absolute;
                                top: 0;
                                right: 0;
                                left: 0;
                                bottom: 0;
                            }

                            iframe {
                                width: 1440px;
                                height: 900px;
                                display: block;
                            }
                        }
                    }

                    h4 {
                        font-weight: $medium;
                    }

                    p {
                        font-weight: $light;
                        text-align: center;
                        width: 100%;
                        height: 22%;
                    }

                    &__btn {
                        border: none;
                        padding: 1em;
                        border-radius: 0.25em;
                        background-color: $blue;
                        cursor: pointer;
                        font-weight: $black;
                        text-transform: uppercase;
                        color: white;

                        &:hover {
                            background-color: $red;
                        }
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: $blue;
        padding: 1.5em;

        &__social {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 25%;
            margin: 1em;
            font-size: 2em;
            
            a {
                color: white;

                &:hover {
                    color: $malachite;
                }
            }
        }

        &__copy {
            a {

                &:hover {
                    color: $malachite;
                }
            }
        }
    }
}