/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .header {
        height: 100vh;
        padding: 2.5em;

        &__nav {
            display: none;
        }

        .menu {
            opacity: 1;
            visibility: visible;
        }

        &__name {
            height: 50%;
            width: 100%;
        }

        &__about {
            height: 50%;
            width: 100%;
            padding: 0;
        }
    }

    .container {

        &__about {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__p {

                &__lists {
                    display: block;

                    &__list {
                        width: 100%;
                    }
                }
            }

            .--lg {
                background: url('../assets/images/pexels-christina-morillo-1181244.webp') 0 -10vh no-repeat;
                width: 100%;
                height: 25vh;
            }

            .--sm {
                background: url('../assets/images/pexels-pixabay-414628.webp') 0 -7.5vh no-repeat;
                width: 100%;
                height: 25vh;
            }

            &__touch {
                width: 100%;
            }

            &__support {
                width: 100%;
            }
        }

        &__portfolio {

            p {
                width: 100%;
            }

            .projects {
                flex-direction: column;

                &__project {
                    width: 100%;
                }
            }
        }
    }

    .footer {

        &__social {
            width: 75%;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) and (max-width: 767px) {
    .header {
        height: 100vh;
        padding: 2.5em;

        &__nav {
            display: none;
        }

<<<<<<< HEAD
            &__status {
                text-align: center;
                width: 25%;
            }

            &__nav-bar {
                width: 50%;
                display: flex;
                justify-content: space-between;
                margin: 0 auto 0 0;

                li {

                    a {
                        color: white;
                        font-weight: $thin;

                        &:hover {
                            font-weight: $semiBold;
                        }
                    }
                }
            }

            &__quote {
                text-align: right;
                width: 25%;
                font-size: 0.65em;
            }
        }

        &__name {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 50%;
            width: 100%;
            line-height: 2.5em;
        }

        &__about {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50%;
            width: 100%;
            padding: 0;

            h3 {
                font-weight: $medium;
                text-transform: none;
            }
=======
        .menu {
            opacity: 1;
            visibility: visible;
        }

        &__name {
            width: 100%;
            height: 50%;
        }

        &__about {
            width: 100%;
            height: 50%;
            float: right;
            padding: 0 3.25em 0 0;
>>>>>>> mobile-header
        }
    }

    .container {

        &__about {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__p {

                &__lists {
                    display: block;

                    &__list {
                        width: 100%;
                    }
                }
            }

            .--lg {
                background: url('../assets/images/pexels-christina-morillo-1181244.webp') 0 -10vh no-repeat;
                background-size: cover;
                width: 100%;
                height: 25vh;
            }

            .--sm {
                background: url('../assets/images/pexels-pixabay-414628.webp') 0 -7.5vh no-repeat;
                background-size: cover;
                width: 100%;
                height: 25vh;
            }

            &__touch {
                width: 100%;
            }

            &__support {
                width: 100%;
            }
        }

        &__portfolio {

            p {
                width: 100%;
            }

            .projects {
                flex-direction: column;

                &__project {
                    width: 75%;

                }
            }
        }
    }

    .footer {

        &__social {
            width: 50%;
        }
    }
}