/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .header {
        height: 100vh;

        &__nav {
            display: none;
        }

        .menu {
            opacity: 1;
            visibility: visible;
        }

    }

    .container {

        &__about {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__p {

                &__lists {
                    display: block;

                    &__list {
                        width: 100%;

                    }
                }
            }

            .--lg {
                background: url('../assets/images/pexels-christina-morillo-1181244.webp') 0 -12vh no-repeat;
                background-size: cover;
                width: 100%;
                height: 25vh;
            }

            .--sm {
                background: url('../assets/images/pexels-pixabay-414628.webp') 0 -9.5vh no-repeat;
                background-size: cover;
                width: 100%;
                height: 25vh;
            }

            &__touch {
                width: 100%;
            }

            &__support {
                width: 100%;
            }
        }

        &__portfolio {

            .projects {
                flex-direction: column;

                &__project {
                    width: 50%;
                }
            }
        }
    }

    .footer {

        &__social {
            width: 37.5%;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .header {
        height: 100vh;
    }

    .container {

        &__about {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__p {

                &__lists {
                    display: block;

                    &__list {
                        width: 100%;

                    }
                }
            }

            .--lg {
                background: url('../assets/images/pexels-christina-morillo-1181244.webp') 0 -17.5vh no-repeat;
                background-size: cover;
                width: 100%;
                height: 25vh;
            }

            .--sm {
                background: url('../assets/images/pexels-pixabay-414628.webp') 0 -15vh no-repeat;
                background-size: cover;
                width: 100%;
                height: 25vh;
            }

            &__touch {
                width: 100%;
            }

            &__support {
                width: 100%;
            }
        }

        &__portfolio {

            .projects {
                flex-direction: column;

                &__project {
                    width: 50%;
                }
            }
        }
    }

    .footer {

        &__social {
            width: 32.75%;
        }
    }
}