$blue:rgba(64, 68, 253, 1);
$dGray:rgba(18, 18, 18, 1);
$red:rgba(195, 60, 84, 1);
$malachite:rgba(83, 221, 108, 1);
$sun:rgba(249, 203, 64, 1);

$light: 100;
$normal: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;