@use 'sass:math';

@if math.round(math.random(3)) == 0 {
    $sun:rgba(64, 68, 253, 1);
    $dGray:rgba(18, 18, 18, 1);
    $malachite:rgba(195, 60, 84, 1);
    $red:rgba(83, 221, 108, 1);
    $blue:rgba(249, 203, 64, 1);
} @else if math.round(math.random(3)) == 1 {
    $red: rgba(64, 68, 253, 1);
    $dGray: rgba(18, 18, 18, 1);
    $blue: rgba(195, 60, 84, 1);
    $sun: rgba(83, 221, 108, 1);
    $malachite: rgba(249, 203, 64, 1);
} @else if math.round(math.random(3)) == 2 {
    $malachite: rgba(64, 68, 253, 1);
    $dGray: rgba(18, 18, 18, 1);
    $sun: rgba(195, 60, 84, 1);
    $blue: rgba(83, 221, 108, 1);
    $red: rgba(249, 203, 64, 1);
} @else {
    $blue: rgba(64, 68, 253, 1);
    $dGray: rgba(18, 18, 18, 1);
    $red: rgba(195, 60, 84, 1);
    $malachite: rgba(83, 221, 108, 1);
    $sun: rgba(249, 203, 64, 1);
}

$blue: rgba(64, 68, 253, 1);
$dGray: rgba(18, 18, 18, 1);
$red: rgba(195, 60, 84, 1);
$malachite: rgba(83, 221, 108, 1);
$sun: rgba(249, 203, 64, 1);

$font:'https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap';

$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$black: 900;