$blue: rgba(64, 68, 253, 1);
$dGray: rgba(18, 18, 18, 1);
$red: rgba(195, 60, 84, 1);
$malachite: rgba(83, 221, 108, 1);
$sun: rgba(249, 203, 64, 1);

$font:'https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap';

$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$black: 900;